<div class="container">

        <div class="center-card">
      
          <div class="card box-border is-paddingless" style="background-color: transparent;">
      
            <div class="card-content" ng-controller="mainCtrl as main">
              <div class="field has-addons has-addons-centered">
                <div class="control has-icons-left is-expanded ">
            <label style="color: white; font-family: 'Comfortaa', cursive; font-size: 1.1rem;">Filter by Any:</label>
            <input ng-model="main.searchText.$" class="input is-medium search-box-border body-font" type="text"
                    placeholder="Search anyone by using anyfield" size="300" style="color: white; width:100%; background-color: transparent;" />
                    <label style=" color: white; font-family: 'Comfortaa', cursive; font-size: 1.1rem;">Filter by City:</label>
            <input ng-model="main.searchText.City" class="input is-medium search-box-border body-font" type="text"
                    placeholder="Search anyone by using anyfield" size="300" style="color: white; width:100%; background-color: transparent;" />
                    <label style="color: white; font-family: 'Comfortaa', cursive; font-size: 1.1rem;">Filter by Game:</label>
            <input ng-model="main.searchText.Game" class="input is-medium search-box-border body-font" type="text"
                    placeholder="Search anyone by using anyfield" size="300" style="color: white; width:100%; background-color: transparent;" />
                  
                  </span>
      
                </div>
                
              </div>
              <div class="table-container">
      
                <table class="table  body-font  is-narrow is-bordered is-fullwidth" style="background-color: transparent;  ">
                  <thead class="table-header">
                    <tr>
                      
                    <th style="color: white;"><abbr title="Regstration Number">CourtID</abbr></th>
                    <th style="color: white;">Street</th>
                    <th style="color: white;"><abbr title="Component 1 Marks">City</abbr></th>
                    <th style="color: white;"><abbr title="Component 2 Marks">Country</abbr></th>
                    <th style="color: white;"><abbr title="Total Marks in Continuous Evaluation System">Game</abbr></th>
                    <th style="color: white;"><abbr title="Total Marks in Continuous Evaluation System">Start Time</abbr></th>
                    <th style="color: white;"><abbr title="Total Marks in Continuous Evaluation System">End Time</abbr></th>
                    <th style="color: white;"><abbr title="Total Marks in Continuous Evaluation System">Book?</abbr></th>
                  
                    </tr>
                  </thead>
      
                  <tbody ng-repeat="x in main.data | filter:main.searchText">
                    <tr>
                      <td>{{ x.CourtID }}</td>
                      <td>{{ x.Street }}</td>
                      <td>{{ x.City }}</td>
                      <td>{{ x.Country }}</td>
                      <td>{{ x.Game }}</td>
                      <td>{{ x.StartTime }}</td>
                      <td>{{ x.EndTime }}</td>
                      <td><input type="button" class="button is-white is-outlined" value="Book" ng-model="main.select" name="booking" ng-click="main.bookCourt(x)" required /></td>
                    </tr>
      
      
                  </tbody>
                </table>
              </div>
              <div  class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Successfully booked!</p>
                        <button class="delete" aria-label="close" ng-click="main.goBack()"></button>
                      </header>
                      <section class="modal-card-body">
                        You have successfully booked your court at {{ main.bookingData.Street }}, {{ main.bookingData.City }}, {{ main.bookingData.Country }} for your {{ main.bookingData.Game }} from {{ main.bookingData.StartTime }} to {{ main.bookingData.EndTime }}
                      </section>
                      <footer class="modal-card-foot">
                        <button class="button is-success" ng-click="main.goToBookings()">Go to your Bookings</button>
                        <button class="button" ng-click="main.goBack()">Go Back</button>
                      </footer>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      
    