html,
body {
  font-family: 'Raleway', sans-serif;
}

.hero.is-info {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027);

   /* background: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
   url('https://unsplash.it/1200/900?random') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero .subtitle {
  padding: 2.5rem 0;
  line-height: 1.5;
}

a {
  text-decoration: none !important;
}
